<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row" style="padding-top: 50px;">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Products</h5>
                        <p class="card-text" th:text="'Total : '+${productCount}"></p>
                        <a href="#" th:href="@{/products}" class="btn btn-primary">See All</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <p class="card-text" th:text="'Total : '+${userCount}"></p>
                        <a href="#"  class="btn btn-primary">See All</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Actions</h5>
                        <p class="card-text" th:text="'Total : '+${logCount}"></p>
                        <a href="#" th:href="@{/logs}" class="btn btn-primary">See All</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>